<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>


    <div class="page-content" data-ng-app="AngularApp" id="Ctrl" data-ng-controller="CategoryController">
        <div class="container">
            <!--Category-->
            <div class="navigation col-md-12 col-sm-12 col-xs-12">
                <nav class="navbar">
                    <div class="container-fluid">
                        <!--<div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>-->
                        <ul class="nav navbar-nav" data-ng-repeat="model in category">
                            <li><a href="" data-ng-click="changeView('Category/' +model.Id)">{{model.Name}}</a></li>
                        </ul>
                    </div>
                </nav>

            </div>
            <div data-ng-view=""></div>
        </div>




    </div>

    <script src="Scripts/jquery-2.2.3.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Angular/AppConfig.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
    <script src="Angular/Services/CategoryServices.js"></script>
    <script src="Angular/Controller/CategoryController.js"></script>
    <script src="Scripts/jLinq-2.2.1.js"></script>
</body>
</html>
